/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/fundo.png");
}

/* Estilo da seção "Sobre" */
.sobre-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 20px;
    gap: 30px;
}

.sobre-content {
    width: 60%;
    color: #333;
}

.sobre-content h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    margin: 75px;
}

.sobre-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #ffffff;
    margin-bottom: 15px;
}

/* Estilo da imagem */
.sobre-imagem {
    width: 35%;
    border-radius: 20px;
    width: 500px;
    /* Define a largura desejada */
    height: auto;
    /* Ajusta a altura proporcionalmente */
    margin-top: 50px;
    margin-left: 100px;
}

.imagem-sobre {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
    .sobre-container {
        flex-direction: column;
        align-items: center;
    }

    .sobre-content {
        width: 90%;
        text-align: center;
    }

    .sobre-imagem {
        width: 80%;
        margin-top: 20px;
    }
}