body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}



.swiper-slide img {
  filter: brightness(50%);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white !important;
  /* Define a cor das setas como branco */
}

.imagemlogo {
  width: 200px;
  height: auto;
}

.texto-central {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-weight: bold;
  padding: 90px 5px;
  font-family: "Lato", serif;
  border-radius: 5px;
}