body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #c4acac;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  filter: brightness(50%);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white !important;
  /* Define a cor das setas como branco */
}



.imagemlogo {
  width: 200px;
  /* Define a largura desejada */
  height: auto;
  /* Ajusta a altura proporcionalmente */
}

.texto-central {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-weight: bold;
  padding: 90px 5px;
  font-family: "Lato", serif;
  border-radius: 5px;
}


/* Estilo do menu fixo */
.menu-fixo {
  position: fixed;
  top: 0;
  width: 98%;
  background-color: #2b2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(39, 37, 37, 0.2);
  z-index: 1000;
  border-radius: 20px;
}

.menu-fixo .logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.menu-fixo nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* Permite que os itens do menu quebrem linha em telas menores */
}

.menu-fixo nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
  white-space: nowrap;
  /* Impede quebra de linha dentro de um item do menu */
}

.menu-fixo nav a:hover {
  content: " ";
  height: 2px;
  color: #f0ed51;
  background-image: linear-gradient(45deg, #d0ff00, #ff7100);
  margin-top: 3px;
}


/* Espaço para conteúdo abaixo do menu */
.content {
  margin-top: 60px;
  /* Altura do menu */
  padding: 20px;
}


/* Responsividade */
@media (max-width: 768px) {
  .menu-fixo {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .menu-fixo nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-start;
  }

  .menu-fixo nav a {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .menu-fixo .logo {
    font-size: 1.2em;
  }

  .menu-fixo nav {
    gap: 10px;
    /* Reduz o espaçamento entre os itens */
    justify-content: center;
    /* Centraliza os itens no menu */
  }

  .menu-fixo nav a {
    font-size: 1em;
  }
}